{% load static %}
{% load templatetag %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    {% block styles %}

    {% endblock %}
    <title>SONO AUTO CARE</title>
</head>

<body>
<div class="dashboard-main-wrapper">
    <div class="col-xl-8 col-lg-6 col-md-6" style="margin: 0 auto">
        <div class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr style="height: 60px">
                        <td class="text-sm-center" style="width: 12.5%">
                            单位：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            途虎养车({{ offshoreinfo.shopname|default:"" }})
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            日期：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            {{ offshoreinfo.tijiaodata|date:'Y-m-d' }}
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            支付方式：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            挂账
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            单号：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            {{ offshoreinfo.danhao }}
                        </td>

                    </tr>
                    <tr>
                        <td class="text-sm-left" colspan="8">
                            <table style="width: 100%" border="1" cellspacing="1"
                                   cellpadding="2">
                                <tr style="height: 40px">
                                    <td class="text-sm-center" style="width: 15%">
                                        序号
                                    </td>
                                    <td class="text-sm-center" style="width: 15%">
                                        名称
                                    </td>
                                    <td class="text-sm-center" style="width: 15%">
                                        型号
                                    </td>
                                    <td class="text-sm-center" style="width: 15%">
                                        产地
                                    </td>
                                    <td class="text-sm-center" style="width: 15%">
                                        单位
                                    </td>
                                    <td class="text-sm-center" style="width: 15%">
                                        单价
                                    </td>
                                    <td class="text-sm-center" style="width: 15%">
                                        金额
                                    </td>
                                </tr>

                                {% for dealpro in offshoreinfo.offshoredealproject %}
                                    <tr style="height: 40px">
                                        <td class="text-sm-center" style="width: 15%">
                                            {{ forloop.counter }}
                                        </td>
                                        <td class="text-sm-center" style="width: 15%">
                                            {{ dealpro.productname }}
                                        </td>
                                        <td class="text-sm-center" style="width: 15%">
                                            {{ dealpro.model }}
                                        </td>
                                        <td class="text-sm-center" style="width: 15%">

                                        </td>
                                        <td class="text-sm-center" style="width: 15%">
                                            个
                                        </td>
                                        <td class="text-sm-center" style="width: 15%">
                                            ￥{{ dealpro.unit|mul:1.43 }}
                                        </td>
                                        <td class="text-sm-center" style="width: 15%">
                                            ￥{{ dealpro.manay }}
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </td>
                    </tr>
                    <tr style="height: 60px">
                        <td class="text-sm-center" style="width: 12.5%">
                            金额
                        </td>
                        <td class="text-sm-center" colspan="2">
                            ￥{{ offshoreinfo.allprice }}
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            大写金额
                        </td>
                        <td class="text-sm-center" colspan="4">
                            {{ offshoreinfo.daxiemanay }}
                        </td>

                    </tr>
                    <tr style="height: 60px">
                        <td class="text-sm-center" style="width: 12.5%">
                            地址
                        </td>
                        <td class="text-sm-center" style="width: 12.5%" colspan="3">
                            {{ offshoreinfo.gongaccountdizhi }}
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            电话
                        </td>
                        <td class="text-sm-center" style="width: 12.5%" colspan="3">

                        </td>
                    </tr>
                    <tr style="height: 60px">
                        <td class="text-sm-center" style="width: 12.5%">
                            业务员：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            {{ offshoreinfo.gongaccountdizhi }}
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            发货方式：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">

                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            发货：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            验货：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%">
                            收货：
                        </td>
                    </tr>
                    <tr style="height: 60px">
                        <td class="text-sm-center" style="width: 12.5%">
                            备注：
                        </td>
                        <td class="text-sm-center" style="width: 12.5%" colspan="7">
                        </td>

                    </tr>
                </table>

                <!-- 弹窗 -->
                <div id="myModal" class="modal">
                    <!-- 弹窗内容 -->
                    <img class="modal-content" id="img01">
                    <div>
                        <div style="margin: 0 auto; width: 205px;">
                            <div style="position: fixed;bottom: 40px;">
                                <button type="button" class="btn btn-outline-light"
                                        id="fangda">
                                    <span class="fa fa-search-plus"></span>
                                </button>
                                <button type="button" class="btn btn-outline-light"
                                        id="suoxiao">
                                    <span class="fas fa-search-minus"></span>
                                </button>
                                <button type="button" class="btn btn-outline-light"
                                        id="zuozhuan">
                                    <span class="fas fa-undo"></span>
                                </button>
                                <button type="button" class="btn btn-outline-light"
                                        id="youzhuan">
                                    <span class="fas fa-redo"></span>
                                </button>
                                <button type="button" class="btn btn-outline-light"
                                        id="youzhuan"
                                        onclick="document.getElementById('myModal').style.display='none'">
                                    <span class="fa fa-power-off"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<!-- bootstap bundle js -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<!-- slimscroll js -->
<script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>

</body>
</html>
