{% extends 'parent_template/certificate.html' %}

{% load static %}
{% load templatetag %}

{% block 历史单据-1-active %}
    active
{% endblock %}
{% block body1 %}
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">门店外采单据</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">外采单据</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">历史单据
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <h5>
                <a href="{% url 'certificate:offshorereceiptshistory' %}"><span
                        style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;background-color: rgb(51, 122, 183);color: white;border: 1px solid grey;">当天单据</span></a>
                <a href="{% url 'certificate:oneoffshorereceiptshistory' %}"><span
                        style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;">全部单据</span></a>
            </h5>

            <div class="ecommerce-widget" id="div01" style="display: block">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">当天外采单据</h5>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 20%">创建时间</th>
                                            <th scope="col" style="width: 20%">车辆品牌</th>
                                            <th scope="col" style="width: 20%">车型</th>
                                            <th scope="col" style="width: 20%">需求描述</th>
                                            <th scope="col" style="width: 20%">当前状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for offshore in offshores %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'certificate:offshorereceiptshistory' %}?offshoreid={{ offshore.id }}&offshorepage={{ offshores.number }}">{{ offshore.tijiaodata|date:'Y-m-d' }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'certificate:offshorereceiptshistory' %}?offshoreid={{ offshore.id }}&offshorepage={{ offshores.number }}">{{ offshore.brand|default:'' }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'certificate:offshorereceiptshistory' %}?offshoreid={{ offshore.id }}&offshorepage={{ offshores.number }}">{{ offshore.motorcycle|default:'' }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'certificate:offshorereceiptshistory' %}?offshoreid={{ offshore.id }}&offshorepage={{ offshores.number }}">{{ offshore.model|default:'' }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'certificate:offshorereceiptshistory' %}?offshoreid={{ offshore.id }}&offshorepage={{ offshores.number }}">{{ offshore.status|default:'' }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <nav aria-label="Page navigation">
                                    <div class="pagination">
                                        <ul class="pagination">

                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            <li>当前页数：{{ offshores.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            {% if offshores.has_previous %}
                                                <li>
                                                    <a href="{% url 'certificate:offshorereceiptshistory' %}?offshorepage={{ offshores.previous_page_number }}"
                                                       aria-label="Previous"><span aria-hidden="true">&laquo;&nbsp;&nbsp;</span></a>
                                                </li>
                                            {% endif %}

                                            {% for num in offshores.paginator.page_range %}
                                                {% if num == offshores.number|add:-1 or num == offshores.number|add:-2 or num == offshores.number|add:-3 or num == offshores.number or num == offshores.number|add:1 or num == offshores.number|add:2 or num == offshores.number|add:3 %}
                                                    {% if num == offshores.number %}
                                                        <li><a href="">{{ num }}&nbsp;&nbsp;</a></li>
                                                    {% else %}
                                                        <li>
                                                            <a href="{% url 'certificate:offshorereceiptshistory' %}?offshorepage={{ num }}">{{ num }}&nbsp;&nbsp;</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if offshores.has_next %}
                                                <li>
                                                    <a href="{% url 'certificate:offshorereceiptshistory' %}?offshorepage={{ offshores.next_page_number }}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&raquo;&nbsp;&nbsp;</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </nav>
                                <div aria-label="Page navigation" style="margin-left: 29px;margin-top: -13px;">
                                    <span>跳转至</span>
                                    <input type="text" style="width: 30px;" class="jump">
                                    <input type="hidden" value="{{ info.paginator.num_pages }}" class="hidden_val">
                                    <span>页</span>
                                    <input type="button" value="GO" onclick="jump_to()">
                                </div>
                            </div>
                        </div>
                        {% if offshoreinfo %}
                            <div class="col-xl-8 col-lg-6 col-md-6" style="margin: 0 auto">
                                <div class="card">
                                    <div class="card-body">
                                        <table style="width: 100%" border="1" cellspacing="1" cellpadding="2">
                                            <tr>
                                                <td colspan="8">
                                                    <h3 style="text-align: center">外采单据凭证</h3>
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    门&nbsp;&nbsp;店
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.shopname|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    当&nbsp;前&nbsp;状&nbsp;态
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.status|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" rowspan="2">
                                                    车&nbsp;辆&nbsp;信&nbsp;息&nbsp;图&nbsp;片
                                                </td>
                                                <td colspan="3" rowspan="2">
                                                    {% for photo in offshoreinfo.Carinfoimg %}
                                                        <img src="{{ photo.img_url.url }}" alt="" style="height: 100px"
                                                             id="myImgcarinfo{{ photo.id }}" height="100"
                                                             onclick="bigimg(this.id)">
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    供&nbsp;货&nbsp;商
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.gongaccount|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    车&nbsp;辆&nbsp;品&nbsp;牌
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.brand|default:"" }}
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    车&nbsp;&nbsp;型
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.motorcycle|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    车&nbsp;架&nbsp;号
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.forid|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" rowspan="2">
                                                    车&nbsp;架&nbsp;号&nbsp;照&nbsp;片
                                                </td>
                                                <td colspan="3" rowspan="2">
                                                    {% for photo in offshoreinfo.Vinimg %}
                                                        <img src="{{ photo.img_url.url }}" alt="" style="height: 100px"
                                                             id="myImgvininfo{{ photo.id }}" height="100"
                                                             onclick="bigimg(this.id)">
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    需&nbsp;求&nbsp;描&nbsp;述
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" colspan="3">
                                                    {{ offshoreinfo.model|default:"" }}
                                                </td>
                                            </tr>
                                            <tr style="height: 120px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    相&nbsp;关&nbsp;视&nbsp;频
                                                </td>
                                                <td colspan="7">
                                                    {% for foo in offshoreinfo.Kindsimg %}
                                                        <video width="320" height="180" controls>
                                                            <source src="{{ foo.img_url.url }}" type="video/mp4">
                                                        </video>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    货&nbsp;品&nbsp;明&nbsp;细
                                                </td>
                                                <td class="text-sm-left" colspan="7">
                                                    <table style="width: 100%" border="1" cellspacing="1"
                                                           cellpadding="2">
                                                        <tr style="height: 40px">
                                                            <td class="text-sm-center" style="width: 15%">
                                                                商&nbsp;品&nbsp;品&nbsp;牌
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                产&nbsp;品&nbsp;名&nbsp;称
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                型&nbsp;&nbsp;号
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                数&nbsp;&nbsp;量
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                单&nbsp;&nbsp;价
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                合&nbsp;&nbsp;计
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                状&nbsp;&nbsp;态
                                                            </td>
                                                        </tr>

                                                        {% for dealpro in offshoreinfo.offshoredealproject %}
                                                            <tr style="height: 40px">
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.brand }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.productname }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.model }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.number }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.unit|mul:offshoreinfo.baojiaxishu }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.manay }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.status }}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}

                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    订&nbsp;单&nbsp;号
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.ordernumber|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    闪&nbsp;送&nbsp;码
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.number|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    闪&nbsp;送&nbsp;费
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.sansong|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    垫&nbsp;付&nbsp;运&nbsp;费
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.yunfei|default:"" }}
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    成&nbsp;本&nbsp;金&nbsp;额
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" colspan="3">
                                                    ￥{{ offshoreinfo.allprice|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    销&nbsp;售&nbsp;金&nbsp;额
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" colspan="3">
                                                    ￥{{ offshoreinfo.allprice|mul:offshoreinfo.xiaoshouxishu }}
                                                </td>
                                            </tr>
                                            {% if offshoreinfo.status == '申请中' or offshoreinfo.status == '待发货' %}
                                                <tr>
                                                    <td colspan="8" style="text-align: center; height: 80px">
                                                        {% if offshoreinfo.status == '申请中' or offshoreinfo.status == '待发货' %}
                                                            <button type="button" onclick="cuidan()"
                                                                    style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px">
                                                                催单
                                                            </button>
                                                        {% endif %}
                                                        {% if offshoreinfo.status == '申请中' %}
                                                            <button type="button" onclick="qusubmits()"
                                                                    style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px">
                                                                取消订单
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% if offshoreinfo.status == '待安装' or offshoreinfo.status == '已完成' %}
                                                <tr>
                                                    <td colspan="8" style="text-align: center; height: 80px">
                                                        <button type="button" onclick="chakan()"
                                                                style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px">
                                                            查看销售单
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endif %}

                                        </table>

                                        <!-- 弹窗 -->
                                        <div id="myModal" class="modal">
                                            <!-- 弹窗内容 -->
                                            <img class="modal-content" id="img01">
                                            <div>
                                                <div style="margin: 0 auto; width: 205px;">
                                                    <div style="position: fixed;bottom: 40px;">
                                                        <button type="button" class="btn btn-outline-light"
                                                                id="fangda">
                                                            <span class="fa fa-search-plus"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-light"
                                                                id="suoxiao">
                                                            <span class="fas fa-search-minus"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-light"
                                                                id="zuozhuan">
                                                            <span class="fas fa-undo"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-light"
                                                                id="youzhuan">
                                                            <span class="fas fa-redo"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-outline-light"
                                                                id="youzhuan"
                                                                onclick="document.getElementById('myModal').style.display='none'">
                                                            <span class="fa fa-power-off"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>


    <link rel="stylesheet" href="{% static 'img/css/myimg.css' %}">
    <script src="{% static 'img/js/myjs.js' %}"></script>
    <script>
        function qusubmits() {
            $.ajax({
                type: "post",
                url: "{% url 'certificate:qudealinfo' %}",
                data: {
                    'id': '{{ offshoreinfo.id }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    var url = window.location.href;
                    var arrUrl = url.split("?");
                    var tiaozhuan = $('#tiaozhuan').attr('href', arrUrl[0]);
                    document.getElementById("tiaozhuan").click();
                }
            })
        }
    </script>
    <script>
        function chakan() {
            window.open("{% url 'certificate:chakan' %}?offshoreid={{ offshoreinfo.id }}");
        }
    </script>
    <script>
        function chakanan() {
            window.open("{% url 'certificate:chakanan' %}?offshoreid={{ offshoreinfo.id }}");
        }
    </script>
    <script>
        function cuidan() {
            $.ajax({
                type: "post",
                url: "{% url 'certificate:cuidan' %}",
                data: {
                    'id': '{{ offshoreinfo.id }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
                    if (data.msg === 'ok'){
                        alert('催单成功');
                    var url = window.location.href;
                    var arrUrl = url.split("?");
                    var tiaozhuan = $('#tiaozhuan').attr('href', arrUrl[0]);
                    document.getElementById("tiaozhuan").click();
                    } else if (data.msg === 'no'){
                        alert('距离上次发送消息后三分钟才可再次催单');
                    }
                }
            })
        }
    </script>
    <script>
        function jump_to() {
            var href = $('.jump').val()
            var num_pages = $('.hidden_val').val()
            if (href === "" || href == null) {
                alert('请输入正确的页码！')
                return false
            } else if (parseInt(href) > parseInt(num_pages)) {
                location.href = '{% url 'certificate:offshorereceiptshistory' %}?offshorepage=' + num_pages
            } else if (num_pages === '') {
                location.href = '{% url 'certificate:offshorereceiptshistory' %}?offshorepage=' + 1
            } else {
                location.href = '{% url 'certificate:offshorereceiptshistory' %}?offshorepage=' + href
            }
        }
    </script>
{% endblock %}

