{% extends 'parent_template/approval_administration_template.html' %}

{% block 收入凭证-1-active %}
    active
{% endblock %}
{% load templatetag %}
{% load static %}
{% block body1 %}
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">审批管理</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">单据管理</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">收入凭证
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            {% if categorys %}
                <h5>以下单据还无人审批请联系相关人员添加审批人：</h5>
                <h6 style="color: red">{% for receipt in categorys %}
                    {{ receipt.1 }} --- {{ receipt.2 }}；
                {% endfor %}
                </h6>
            {% endif %}
            <div class="ecommerce-widget" id="div01" style="display: block">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">收入凭证审批目录</h5>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 10%">时间</th>
                                            <th scope="col" style="width: 10%">收款账户</th>
                                            <th scope="col" style="width: 10%">项目名称</th>
                                            <th scope="col" style="width: 10%">应收金额</th>
                                            <th scope="col" style="width: 10%">状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for foo in info %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'approval_administration:collection_voucher' %}?onereceiptsid={{ foo.id }}">{{ foo.dates }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'approval_administration:collection_voucher' %}?onereceiptsid={{ foo.id }}">{{ foo.payment_account }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'approval_administration:collection_voucher' %}?onereceiptsid={{ foo.id }}">
                                                        {% for infosss in foo.product_name %}
                                                            {{ infosss }}
                                                        {% endfor %}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'approval_administration:collection_voucher' %}?onereceiptsid={{ foo.id }}">{{ foo.allprice|qianfenwei }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'approval_administration:collection_voucher' %}?onereceiptsid={{ foo.id }}">{{ foo.status }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="Page navigation">
                                    <div class="pagination">
                                        <ul class="pagination">
                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            <li>当前页数：{{ info.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            {% if info.has_previous %}
                                                <li>
                                                    <a href="{% url 'approval_administration:collection_voucher' %}?onereceiptspage={{ info.previous_page_number }}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;&nbsp;&nbsp;</span></a>
                                                </li>
                                            {% endif %}

                                            {% for num in info.paginator.page_range %}
                                                {% if num == info.number|add:-1 or num == info.number|add:-2 or num == info.number|add:-3 or num == info.number or num == info.number|add:1 or num == info.number|add:2 or num == info.number|add:3 %}
                                                    {% if num == info.number %}
                                                        <li><a href="">{{ num }}&nbsp;&nbsp;</a></li>
                                                    {% else %}
                                                        <li>
                                                            <a href="{% url 'approval_administration:collection_voucher' %}?onereceiptspage={{ num }}">{{ num }}&nbsp;&nbsp;</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if info.has_next %}
                                                <li>
                                                    <a href="{% url 'approval_administration:collection_voucher' %}?onereceiptspage={{ info.next_page_number }}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&raquo;&nbsp;&nbsp;</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </nav>
                                <div aria-label="Page navigation" style="margin-left: 29px;margin-top: -13px;">
                                    <span>跳转至</span>
                                    <input type="text" style="width: 30px;" class="jump">
                                    <input type="hidden" value="{{ info.paginator.num_pages }}" class="hidden_val">
                                    <span>页</span>
                                    <input type="button" value="GO" onclick="jump_to()">
                                </div>
                            </div>
                        </div>
                        {% if receipts %}
                            <div class="col-xl-8 col-lg-6 col-md-6" style="margin: 0 auto">
                                <div class="card">
                                    <div class="card-body">

                                        <input type="text" style="display: none" id="allpriceinfo" name="allpriceinfo"
                                               value="">

                                        <table style="width: 100%" border="1" cellspacing="1" cellpadding="2">
                                            <tr style="height: 40px">
                                                <td colspan="4">
                                                    <h3 style="text-align: center; line-height: 40px;">收入凭证</h3>
                                                </td>
                                            </tr>
                                            <tr style="height: 40px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    所在门店
                                                </td>
                                                <td class="text-sm-center" style="width: 37.5%">
                                                <span class="form-control" name="shopname"
                                                      id="shopname">{{ receipts.shopname }}</span>
                                                </td>

                                                <td class="text-sm-center" style="width: 12.5%">
                                                    创&nbsp;建&nbsp;日&nbsp;期
                                                </td>
                                                <td class="text-sm-center" style="width: 37.5%">
                                                <span class="form-control" name="dates"
                                                      id="dates">{{ receipts.dates }}</span>
                                                </td>
                                            </tr>
                                            <tr style="height: 40px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    收款账户
                                                </td>
                                                <td class="text-sm-center" style="width: 37.5%">
                                                <span name="payment_account" id="payment_account"
                                                      class="form-control">{{ receipts.payment_account }}</span>
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    收款方式
                                                </td>
                                                <td style="width: 37.5%;text-align: center">
                                                <span class="form-control" name="payment_term"
                                                      id="payment_term">{{ receipts.payment_term }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    明细
                                                </td>
                                                <td class="text-sm-left" colspan="4">
                                                    <table style="width: 100%" border="1" cellspacing="1"
                                                           cellpadding="2" id="dealproject">
                                                        <thead>
                                                        <tr style="height: 40px">
                                                            <td class="text-sm-center" style="width: 10%">
                                                                项&nbsp;目&nbsp;名&nbsp;称
                                                            </td>
                                                            <td class="text-sm-center" style="width: 25%">
                                                                说明
                                                            </td>
                                                            <td class="text-sm-center" style="width: 5%">
                                                                金&nbsp;&nbsp;额
                                                            </td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for foo in receipts.dealproject %}
                                                            <tr>
                                                                <td>{{ foo.project_name }}</td>
                                                                <td>{{ foo.explains }}</td>
                                                                <td>{{ foo.amount }}</td>
                                                            </tr>
                                                        {% endfor %}

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style="height: 40px;">
                                                <td class="text-sm-center" style="width: 12.5%" colspan="2">
                                                    应收金额
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" id="allprice"
                                                    colspan="2">
                                                    ￥{{ receipts.allprice|qianfenwei }}
                                                </td>
                                            </tr>
                                            <tr style="height: 120px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    凭&nbsp;证&nbsp;图&nbsp;片
                                                </td>
                                                <td colspan="3">
                                                    <div id="result" name="result"></div>
                                                    {% for photo in receipts.photos %}
                                                        <img src="{{ photo.img_url.url }}" alt="" style="height: 100px"
                                                             id="myImg{{ photo.id }}" height="100"
                                                             onclick="bigimg(this.id)">
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    提&nbsp;交&nbsp;备&nbsp;注
                                                </td>
                                                <td colspan="3">
                                                <span class="form-control"
                                                      name="submitremark" id="submitremark"
                                                      style="width: 100%; height: 80px">{{ receipts.submitremark }}</span>
                                                </td>
                                            </tr>
                                            {% for foo in receipts.approverinfo %}
                                                <tr>
                                                    <td colspan="4">
                                                        <table style="width: 100%; " border="1" cellspacing="0"
                                                               cellpadding="0">
                                                            <tr style="height: 80px">
                                                                <td class="text-sm-center" style="width: 12.5%">
                                                                    审&nbsp;批&nbsp;人
                                                                </td>
                                                                <td class="text-sm-center" style="width: 12.5%">
                                                                    {{ foo.name }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 12.5%">审&nbsp;批&nbsp;结&nbsp;果</td>
                                                                <td style="width: 12.5%">
                                                                    {{ foo.status }}

                                                                </td>
                                                                <td class="text-sm-center" style="width: 12.5%">审&nbsp;批&nbsp;备&nbsp;注</td>
                                                                <td colspan="3" style="width: 47.5%">
                                                                    {{ foo.limits }}
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            <tr>
                                                <td colspan="4">
                                                    <table style="width: 100%; " border="1" cellspacing="0"
                                                           cellpadding="0">
                                                        <form action="{% url 'approval_administration:collection_voucher' %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <tr style="height: 80px">
                                                                <td class="text-sm-center" style="width: 12.5%">
                                                                    审&nbsp;批&nbsp;人
                                                                </td>
                                                                <td class="text-sm-center" style="width: 12.5%">
                                                                    <input type="text" id="generalmanager"
                                                                           name="generalmanager"
                                                                           class="form-control"
                                                                           value="{{ userinfo.name }}" readonly>
                                                                    <input type="text" id="receiptsid" name="receiptsid"
                                                                           value="{{ receipts.id }}"
                                                                           style="display: none">
                                                                </td>
                                                                <td class="text-sm-center">审&nbsp;批&nbsp;结&nbsp;果</td>
                                                                <td>
                                                                    <select class="form-control" id="paymenttyoe"
                                                                            required="" name="paymenttyoe" onclick="">
                                                                        <option>请选择</option>
                                                                        <option>通过审批</option>
                                                                        <option>驳回</option>
                                                                    </select>

                                                                </td>
                                                                <td class="text-sm-center">审&nbsp;批&nbsp;备&nbsp;注</td>
                                                                <td colspan="3">
                                                                    <input type="text" id="remarks" name="remarks"
                                                                           value=""
                                                                           class="form-control">
                                                                </td>
                                                            </tr>

                                                        </form>

                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="8" style="text-align: center; height: 50px">
                                                    <button style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px"
                                                            type="button" onclick="submitsinfo()">
                                                        提交审批
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- 弹窗 -->
                        <div id="myModal" class="modal" style="width: 100%; height: 100%">
                            <!-- 弹窗内容 -->
                            <div style="position: relative;width: 95%;height: 95%;border: 1px solid #000;">
                                <img class="modal-content" id="img01"
                                     style="position: absolute;width: 500px;left: 0;right: 0;top: 0;bottom: 0;margin: auto;">
                                <div>
                                    <div style="margin: 0 auto; width: 205px;">
                                        <div style="position: fixed;bottom: 40px;">
                                            <button type="button" class="btn btn-outline-light"
                                                    id="fangda">
                                                <span class="fa fa-search-plus"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="suoxiao">
                                                <span class="fas fa-search-minus"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="zuozhuan">
                                                <span class="fas fa-undo"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="youzhuan">
                                                <span class="fas fa-redo"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="youzhuan"
                                                    onclick="document.getElementById('myModal').style.display='none'">
                                                <span class="fa fa-power-off"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function submitsinfo() {
            var paymenttyoe = $('#paymenttyoe').val();
            if (paymenttyoe === '请选择') {
                alert('提交审批结果需要先选择审批结果');
                return false;
            }
            if (paymenttyoe === '驳回') {
                var remarks = $('#remarks').val();
                if (remarks === '') {
                    alert('驳回需要先填写审批备注');
                    return false;
                }
            }
            $('form').submit()
        }
    </script>
    <script>
        function readAsDataURL() {
            var file = document.getElementById("receiptsimg").files;
            var result = document.getElementById("result");
            result.innerHTML = '';
            for (i = 0; i < file.length; i++) {
                var reader = new FileReader();
                reader.index = i;
                reader.readAsDataURL(file[i], i);
                reader.onload = function (event) {
                    result.innerHTML = result.innerHTML + '<img src="' + this.result + '" alt="" style="height: 100px" id="myImg' + this.index + '" onclick="bigimg(\'myImg' + this.index + '\')"/>';
                }
            }
        }

        function jump_to() {
            var href = $('.jump').val()
            var num_pages = $('.hidden_val').val()
            if (href === "" || href == null) {
                alert('请输入正确的页码！')
                return false
            } else if (parseInt(href) > parseInt(num_pages)) {
                location.href = '{% url 'approval_administration:collection_voucher' %}?onereceiptspage=' + num_pages
            } else if (num_pages === '') {
                location.href = '{% url 'approval_administration:collection_voucher' %}?onereceiptspage=' + 1
            } else {
                location.href = '{% url 'approval_administration:collection_voucher' %}?onereceiptspage=' + href
            }
        }
    </script>
    <script src="{% static 'img/js/myjs.js' %}"></script>

{% endblock %}

