{% extends 'parent_template/parent_template.html' %}

{% load static %}

{% block 危废模块-active %}
    active
{% endblock %}
{% block 废料项目-active %}
active
{% endblock %}

{% block collapse3 %}
collapse
{% endblock %}
{% block collapse1 %}
collapse
{% endblock %}
{% block collapse2 %}
collapse
{% endblock %}
{% block collapse4 %}
collapse
{% endblock %}
{% block collapse6 %}
collapse
{% endblock %}
{% block collapse7 %}
collapse
{% endblock %}
{% block collapse8 %}

{% endblock %}
{% block collapse9 %}
collapse
{% endblock %}
{% block collapse11 %}
collapse
{% endblock %}
{% block collapse12 %}
collapse
{% endblock %}
{% block body %}
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">危废模块</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">危废模块</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">危废项目
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <h5>
                <a href="{% url 'waste:wasteproject' %}"><span style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;">危废项目</span></a>
                <a href="{% url 'waste:addwasteproject' %}"><span style="width: 150px;height: 30px;display: inline-block;text-align: center;line-height: 30px;background-color: rgb(51, 122, 183);color: white;border: 1px solid grey;">添加危废项目</span></a>
            </h5>
            <div class="ecommerce-widget" id="div02">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">

                        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12" style="margin: 0 auto">
                            <form action="{% url 'waste:addwasteproject' %}" method="post">
                                {% csrf_token %}
                                <div class="card">
                                    <h5 class="card-header">详情页面</h5>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">危&nbsp;&nbsp;废&nbsp;&nbsp;项&nbsp;&nbsp;目</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" id="project" required=""
                                                       class="form-control" value="{{ wastepro.project|default:'' }}"
                                                       name="project">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">单&nbsp;&nbsp;&nbsp;&nbsp;价</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" required="" class="form-control"
                                                       name="unit" id="unit"
                                                       value="{{ wastepro.unit|default:'' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">单&nbsp;&nbsp;&nbsp;&nbsp;位</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" required="" class="form-control"
                                                       name="units" id="units"
                                                       value="{{ wastepro.units|default:'' }}">
                                            </div>
                                        </div>
                                        {% if wastepro %}
                                            <input type="text" required="" class="form-control"
                                                   name="id" id="id" style="display: none"
                                                   value="{{ wastepro.id|default:'' }}">
                                        {% endif %}
                                        <div class="form-group row text-right">
                                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">

                                                <button style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px" type="button"
                                                        onclick="submits()">
                                                    修改
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        function submits() {
            var unit = $('#unit').val();
            if (unit === "" || unit == null) {
                alert('请输入单价');
                return false;
            }
            if (isNaN(unit)) {
                alert('单价为数字');
                return false;
            }

            $('form').submit();

        }
    </script>
{% endblock %}

