{% extends 'parent_template/parent_template.html' %}

{% load static %}

{% block 危废模块-active %}
    active
{% endblock %}

{% block 废料承包商-active %}
    active
{% endblock %}

{% block collapse3 %}
collapse
{% endblock %}
{% block collapse1 %}
collapse
{% endblock %}
{% block collapse2 %}
collapse
{% endblock %}
{% block collapse4 %}
collapse
{% endblock %}
{% block collapse6 %}
collapse
{% endblock %}
{% block collapse7 %}
collapse
{% endblock %}
{% block collapse8 %}

{% endblock %}
{% block collapse9 %}
collapse
{% endblock %}
{% block collapse11 %}
collapse
{% endblock %}
{% block collapse12 %}
collapse
{% endblock %}

{% block body %}
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">危废模块</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">危废模块</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">危废承包商
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <h5>
                <a href="{% url 'waste:wastecontractor' %}"><span style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;background-color: rgb(51, 122, 183);color: white;border: 1px solid grey;">危废承包商</span></a>
                <a href="{% url 'waste:addwastecontractor' %}"><span style="width: 150px;height: 30px;display: inline-block;text-align: center;line-height: 30px;">添加危废承包商</span></a>
            </h5>
            <div class="ecommerce-widget" id="div02">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">危废承包商</h5>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">承包商</th>
                                            <th scope="col">押金</th>
                                            <th scope="col">合同到期日</th>
                                            <th scope="col">联系方式</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for wasteuserinfo in wasteuserinfos %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'waste:wastecontractor' %}?wastecontractorid={{ wasteuserinfo.id }}">{{ wasteuserinfo.username }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'waste:wastecontractor' %}?wastecontractorid={{ wasteuserinfo.id }}">{{ wasteuserinfo.cashpledge }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'waste:wastecontractor' %}?wastecontractorid={{ wasteuserinfo.id }}">{{ wasteuserinfo.expirydate|date:"Y-m-d" }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'waste:wastecontractor' %}?wastecontractorid={{ wasteuserinfo.id }}">{{ wasteuserinfo.phone }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="Page navigation">
                                    <div class="pagination">
                                        <ul class="pagination">
                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            <li>当前页数：{{ wasteuserinfos.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            {% if wasteuserinfos.has_previous %}
                                                <li>
                                                    <a href="{% url 'waste:wastecontractor' %}?wasteuserinfospage={{ wasteuserinfos.previous_page_number }}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;&nbsp;&nbsp;</span></a></li>
                                            {% endif %}

                                            {% for num in wasteuserinfos.paginator.page_range %}
                                                {% if num == wasteuserinfos.number|add:-1 or num == wasteuserinfos.number|add:-2 or num == wasteuserinfos.number|add:-3 or num == wasteuserinfos.number or num == wasteuserinfos.number|add:1 or num == wasteuserinfos.number|add:2 or num == wasteuserinfos.number|add:3 %}
                                                    {% if num == wasteuserinfos.number %}
                                                        <li><a href="">{{ num }}&nbsp;&nbsp;</a></li>
                                                    {% else %}
                                                        <li>
                                                            <a href="{% url 'waste:wastecontractor' %}?wasteuserinfospage={{ num }}">{{ num }}&nbsp;&nbsp;</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if wasteuserinfos.has_next %}
                                                <li>
                                                    <a href="{% url 'waste:wastecontractor' %}?wasteuserinfospage={{ wasteuserinfos.next_page_number }}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&raquo;&nbsp;&nbsp;</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </nav>
                                <div aria-label="Page navigation" style="margin-left: 29px;margin-top: -13px;">
                                    <span>跳转至</span>
                                    <input type="text" style="width: 30px;" class="jump">
                                    <input type="hidden" value="{{ info.paginator.num_pages }}" class="hidden_val">
                                    <span>页</span>
                                    <input type="button" value="GO" onclick="jump_to()">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12">
                            {% if wasteuserinfo %}
                                <div class="card">
                                    <h5 class="card-header">详情页面</h5>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">承&nbsp;&nbsp;包&nbsp;&nbsp;商</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input readonly="readonly" type="text" id="username" required=""
                                                       class="form-control" value="{{ wasteuserinfo.username }}"
                                                       name="username">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">压&nbsp;&nbsp;&nbsp;&nbsp;金</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input readonly="readonly" type="text" required="" class="form-control"
                                                       name="cashpledge" id="cashpledge"
                                                       value="{{ wasteuserinfo.cashpledge }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">合&nbsp;同&nbsp;到&nbsp;期&nbsp;日</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input readonly="readonly" type="text" required="" class="form-control"
                                                       name="expirydate" id="expirydate"
                                                       value="{{ wasteuserinfo.expirydate|date:'Y-m-d' }}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label text-sm-right">联&nbsp;系&nbsp;方&nbsp;式</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input readonly="readonly" type="text" required="" class="form-control"
                                                       name="phone" id="phone" value="{{ wasteuserinfo.phone }}">
                                            </div>
                                        </div>

                                        <div class="form-group row text-right">
                                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                                <a id="activate" href="{% url 'waste:addwastecontractor' %}?wasteuserinfoid={{ wasteuserinfo.id }}">
                                                    <button style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px">
                                                        修改
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        function jump_to() {
            var href = $('.jump').val()
            var num_pages = $('.hidden_val').val()
            if (href === "" || href == null) {
                alert('请输入正确的页码！')
                return false
            } else if (parseInt(href) > parseInt(num_pages)) {
                location.href = '{% url 'waste:wastecontractor' %}?wasteuserinfospage=' + num_pages
            } else if (num_pages === '') {
                location.href = '{% url 'waste:wastecontractor' %}?wasteuserinfospage=' + 1
            } else {
                location.href = '{% url 'waste:wastecontractor' %}?wasteuserinfospage=' + href
            }
        }
    </script>
{% endblock %}

