{% extends 'parent_template/parent_template.html' %}

{% load static %}

{% block 人事模块-active %}
    active
{% endblock %}

{% block 绩效项目-active %}
    active
{% endblock %}

{% block collapse3 %}
collapse
{% endblock %}
{% block collapse1 %}
collapse
{% endblock %}
{% block collapse2 %}
collapse
{% endblock %}
{% block collapse4 %}
collapse
{% endblock %}
{% block collapse6 %}
collapse
{% endblock %}
{% block collapse7 %}

{% endblock %}
{% block collapse8 %}
collapse
{% endblock %}
{% block collapse9 %}
collapse
{% endblock %}
{% block collapse11 %}
collapse
{% endblock %}
{% block collapse12 %}
collapse
{% endblock %}

{% block body %}
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">人事模块</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">人事模块</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">员工绩效
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <h5>
                <a href="{% url 'personnel:performance' %}"><span style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;">员工绩效</span></a>
                <a href="{% url 'personnel:addperformance' %}"><span style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;background-color: rgb(51, 122, 183);color: white;border: 1px solid grey;">添加员工绩效</span></a>

            </h5>
            <div class="ecommerce-widget" id="div01" style="display: block">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12" style="margin: 0 auto">
                            <div class="card">
                                <h5 class="card-header">绩效项目</h5>
                                <div class="card-body">
                                        <form action="{% url 'personnel:addperformance' %}" method="post">
                                            <div class="form-group row">
                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">绩&nbsp;效&nbsp;名&nbsp;称</label>
                                                <div class="col-12 col-sm-8 col-lg-6">
                                                    <input required type="text" class="form-control" name="project"
                                                           id="project"
                                                           value="{{ performanceinfo.project }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">绩&nbsp;效&nbsp;细&nbsp;节</label>
                                                <div class="col-12 col-sm-8 col-lg-6">
                                                    <input required type="text" class="form-control" name="particulars"
                                                           id="particulars"
                                                           value="{{ performanceinfo.particulars }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-sm-3 col-form-label text-sm-right">岗&nbsp;&nbsp;位</label>
                                                <div class="col-12 col-sm-8 col-lg-6">
                                                    <input required type="text" class="form-control" name="post"
                                                           id="post"
                                                           value="{{ performanceinfo.post }}">
                                                </div>
                                            </div>

                                            <div class="form-group row text-right">
                                                <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                                    {% if performanceinfo %}
                                                        <input required type="text" class="form-control" name="id"
                                                               id="id" style="display: none"
                                                               value="{{ performanceinfo.id }}">
                                                        <button type="button" onclick="submits()"
                                                                style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px">
                                                            修改
                                                        </button>
                                                    {% else %}
                                                        <button type="button" onclick="submits()"
                                                                style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px">
                                                            添加
                                                        </button>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </form>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        function submits() {
            $('form').submit();
        }
    </script>

{% endblock %}

