{% extends 'parent_template/parent_template.html' %}

{% load static %}

{% block 账号管理-active %}
    active
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/vendor/multi-select/css/multi-select.css' %}">
{% endblock %}

{% block collapse3 %}

{% endblock %}
{% block collapse1 %}
collapse
{% endblock %}
{% block collapse2 %}
collapse
{% endblock %}
{% block collapse4 %}
collapse
{% endblock %}
{% block collapse6 %}
collapse
{% endblock %}
{% block collapse7 %}
collapse
{% endblock %}
{% block collapse8 %}
collapse
{% endblock %}
{% block collapse9 %}
collapse
{% endblock %}
{% block collapse11 %}
collapse
{% endblock %}
{% block collapse12 %}
collapse
{% endblock %}
{% block collapse13 %}
collapse
{% endblock %}

{% block body %}
    {% block body1 %}

    {% endblock %}
{% endblock %}

