{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SONO AUTO CARE</title>
    <style>
        * {
            margin: 0;
            padding: 0
        }
    </style>
</head>
<body>
<div style="width: 100%">
    <a href="javascript:history.go(-1)">
        <div style="width: 100%">
            <div style="width: 100%; height: 120px; background-color: grey;">
                <div style="width: 50px; height: 120px; float: left;">

                </div>
                <div style=" float: left; width: 50px; height: 120px; z-index:100">
                    <img src="{% static '/app/images/事项审批-管理层/u2724.png' %}" alt=""
                         style="height: 60px; margin-top: 30px">
                </div>
                <div style="float: left; height: 120px; text-align: center; width: 100%; margin-top: -120px">
                    <p style="font-size: 48px;line-height: 120px; color: white">待处理事项</p>
                </div>
            </div>
        </div>
    </a>
    <div style="width: 100%">
        {% for foo in nowinfo %}
            <div style="width: 100%; height: 40px; margin-top: 40px;">
                <div style="width: 25%; height: 40px; border-radius:30px; border:1px solid gainsboro; background-color: ghostwhite;margin-left: 40px; text-align: center">
                    <p style="font-size: 36px;line-height: 40px; ">{{ foo.dates|date:'Y-m-d' }}</p>
                </div>
            </div>
            <a href="{% url 'examine:examine_four' %}?id={{ foo.id }}" style="color: black; text-decoration: none">
                <div style="width: 100%; height: 160px; margin-top: 20px;">
                    <div style="width: 98%; height: 160px; margin: 0 auto; box-shadow:0 15px 10px -15px grey; background-color: ghostwhite;">
                        <div style="width: 33%; height: 160px;float: left">
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">资金支出</p>
                            </div>
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">{{ foo.shopname }}</p>
                            </div>
                        </div>
                        <div style="width: 33%; height: 160px;float: left">
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">￥ {{ foo.allprice }}</p>
                            </div>
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">{{ foo.responsibleperson }}</p>
                            </div>
                        </div>
                        <div style="width: 33%; height: 160px;float: left; text-align: center">
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">{{ foo.paymenttyoe }}</p>

                            </div>

                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">查看详情</p>
                            </div>

                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% for foo in zhinowinfo %}
            <div style="width: 100%; height: 40px; margin-top: 40px;">
                <div style="width: 25%; height: 40px; border-radius:30px; border:1px solid gainsboro; background-color: ghostwhite;margin-left: 40px; text-align: center">
                    <p style="font-size: 36px;line-height: 40px; ">{{ foo.dates|date:'Y-m-d' }}</p>
                </div>
            </div>
            <a href="{% url 'examine:examine_three' %}?onereceiptsid={{ foo.id }}"
               style="color: black; text-decoration: none">
                <div style="width: 100%; height: 160px; margin-top: 20px;">
                    <div style="width: 90%; height: 160px; border-radius:5px; border:1px solid gainsboro; margin: 0 auto; box-shadow:0 15px 10px -15px grey;">
                        <div style="width: 33%; height: 160px;float: left">
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">{{ foo.dates }}</p>
                            </div>
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">{{ foo.shopname }}</p>
                            </div>
                        </div>
                        <div style="width: 33%; height: 160px;float: left; text-align: center">
                            <p style="line-height: 160px; font-size: 36px">收入凭证</p>

                        </div>
                        <div style="width: 33%; height: 160px;float: left; text-align: center">
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px">{{ foo.status }}</p>

                            </div>
                            <div style="height: 80px; text-align: center">
                                <p style="line-height: 80px; font-size: 36px"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

        <div style="height: 220px;width: 100%;">
        </div>
    </div>
</div>

</body>
</html>