{% extends 'parent_template/parent_template.html' %}

{% load static %}

{% block 监控管理-active %}
    active
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'img/css/updateimg.css' %}">
{% endblock %}
{% block 列表统计-active %}
    active
{% endblock %}

{% block collapse3 %}
    collapse
{% endblock %}
{% block collapse1 %}
    collapse
{% endblock %}
{% block collapse2 %}
    collapse
{% endblock %}
{% block collapse4 %}
    collapse
{% endblock %}
{% block collapse6 %}
    collapse
{% endblock %}
{% block collapse7 %}
    collapse
{% endblock %}
{% block collapse8 %}
    collapse
{% endblock %}
{% block collapse9 %}
    collapse
{% endblock %}
{% block collapse11 %}
    collapse
{% endblock %}
{% block collapse12 %}
    collapse
{% endblock %}
{% block collapse14 %}
    collapse
{% endblock %}
{% block collapse15 %}

{% endblock %}


{% block body %}
    <style lang="scss">
        td {
            position: relative;
            width: 100px;
            height: 30px;
            margin-bottom: 30px;
        }

        /* 给a设置宽高百分百，就会撑满 li，这样鼠标经过 li 的时候，就会变为小手 */
        td > a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        .none {
            width: 300px;
            padding: 19px 24px 11px 16px;
            box-sizing: border-box;
            background: rgba(255, 255, 255, 25);
            border: 1px solid #999;
            position: absolute;
            left: 100px;
            top: -1px;
            z-index: 3;
            display: none; /*这里把 none 里面的内容隐藏起来*/
        }

        /* 这里设置li鼠标移过的时候，如果里面有none这个类，才会触发里面的样式 */
        td:hover .none {
            display: block; /*这里把 none 里面的内容显示出来*/
        }
    </style>
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">监控管理</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">监控管理</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">列表统计
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}<h5>
                <a href="{% url 'expenditure_management:bill_list' %}"><span
                        style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;">当天单据</span></a>
                <a href="{% url 'expenditure_management:receiptshistory' %}"><span
                        style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;background-color: rgb(51, 122, 183);color: white;border: 1px solid grey">全部单据</span></a>
                <a href="{% url 'expenditure_management:onereceiptshistory' %}"><span
                        style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;">驳回单据</span></a>
            </h5>
            <br>{% endcomment %}
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card" style="height: 40px;width: 253px;">
                        <div class="form-group row" style="width: 362px;">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right"
                                   style="line-height: 5px;">&emsp;开始日期</label>
                            <div class="col-12 col-sm-8 col-lg-6" style="margin-top: -10px">
                                <input type="date" class="form-control" name="starttime" id="starttime">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="height: 40px;width: 250px;margin-left: -124px;">
                    <div class="form-group" style="width: 250px;">
                        <span style="margin-left: 12px;margin-top: 10px;display: inline-block;font-size: 15px;">截止日期</span>
                        <div style="margin-top: -30px;margin-left: 80px;width: 155px;"><input type="date"
                                                                                              class="form-control"
                                                                                              name="endtime"
                                                                                              id="endtime">
                        </div>
                    </div>
                </div>
                <div>
                    <select name="shopname" id="shopname" class="form-control text-sm-center"
                            style="width: 120px;margin-left: 10px;">
                        <option value="">请选择门店</option>
                        <option value="">月华</option>
                        <option value="">长青</option>
                    </select>
                    <div>
                        <button type="button" class="btn btn-success"
                                style="width: 70px;height: 37px;margin-left: 266px;margin-top: -61px;"
                                onclick="ok_sub()">确认
                        </button>&emsp;
                        <button type="button" class="btn btn-warning"
                                style="width: 70px;height: 37px;color: white;margin-top: -61px;"
                                onclick="export_xlsx('tableExcel')">导出
                        </button>
                    </div>
                </div>
            </div>
            {% comment %}<div>
                <input type="text" class="form-control" style="width: 400px;" placeholder="请输入关键字" id="search_form" name="search_form">

            </div>{% endcomment %}
            <div class="ecommerce-widget" id="div01" style="display: block">
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-10 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">单据历史</h5>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 10%;text-align: center">日期</th>
                                            <th scope="col" style="width: 10%;text-align: center">拍照时间</th>
                                            <th scope="col" style="width: 10%;text-align: center">工位</th>

                                            <th scope="col" style="width: 10%;text-align: center">拍照数量</th>
                                            <th scope="col" style="width: 10%;text-align: center">未处理数量</th>
                                            <th scope="col" style="width: 10%;text-align: center">处罚数量</th>
                                            <th scope="col" style="width: 12%;text-align: center">处罚金额</th>
                                            <th scope="col" style="width: 10%;text-align: center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for foo in info %}
                                            <tr>
                                                <td class="text-sm-center">
                                                    <span>2020-07-04</span>
                                                </td>

                                                <td class="text-sm-center">
                                                    <span>14:30-15:30</span>
                                                </td>
                                                <td class="text-sm-center">
                                                    <span>工位</span>
                                                </td>
                                                <td class="text-sm-center">
                                                    <span>60</span>
                                                </td>
                                                <td class="text-sm-center">
                                                    <span>20</span>
                                                </td>
                                                <td class="text-sm-center">
                                                    <span>3</span>
                                                </td>
                                                <td class="text-sm-center">
                                                    <span>60</span>
                                                </td>
                                                <td class="text-sm-center">
                                                    <input type="submit" value="查看"
                                                           onclick="lock_detail({{ forloop.counter }})">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <nav aria-label="Page navigation">
                                        <div class="pagination">
                                            <ul class="pagination">
                                                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                <li>当前页数：{{ info.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                                {% if info.has_previous %}
                                                    <li>
                                                        <a href="{% url 'monitor:monitor_list' %}?fourreceiptspage={{ info.previous_page_number }}"
                                                           aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;&nbsp;&nbsp;</span></a>
                                                    </li>
                                                {% endif %}

                                                {% for num in info.paginator.page_range %}
                                                    {% if num == info.number|add:-1 or num == info.number|add:-2 or num == info.number|add:-3 or num == info.number or num == info.number|add:1 or num == info.number|add:2 or num == info.number|add:3 %}
                                                        {% if num == info.number %}
                                                            <li><a href="">{{ num }}&nbsp;&nbsp;</a></li>
                                                        {% else %}
                                                            <li>
                                                                <a href="{% url 'monitor:monitor_list' %}?fourreceiptspage={{ num }}">{{ num }}&nbsp;&nbsp;</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}

                                                {% if info.has_next %}
                                                    <li>
                                                        <a href="{% url 'monitor:monitor_list' %}?fourreceiptspage={{ info.next_page_number }}"
                                                           aria-label="Next">
                                                            <span aria-hidden="true">&raquo;&nbsp;&nbsp;</span></a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </nav>
                                    <div aria-label="Page navigation" style="margin-left: 29px;margin-top: -13px;">
                                        <span>跳转至</span>
                                        <input type="text" style="width: 30px;" class="jump">
                                        <input type="hidden" value="{{ info.paginator.num_pages }}" class="hidden_val">
                                        <span>页</span>
                                        <input type="button" value="GO" onclick="jump_to()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 弹窗 -->
                        <div id="myModal" class="modal" style="width: 100%; height: 100%">
                            <!-- 弹窗内容 -->
                            <div style="position: relative;width: 95%;height: 95%;border: 1px solid #000;">
                                <img class="modal-content" id="img01"
                                     style="position: absolute;width: 500px;left: 0;right: 0;top: 0;bottom: 0;margin: auto;">
                                <div>
                                    <div style="margin: 0 auto; width: 205px;">
                                        <div style="position: fixed;bottom: 40px;">
                                            <button type="button" class="btn btn-outline-light"
                                                    id="fangda">
                                                <span class="fa fa-search-plus"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="suoxiao">
                                                <span class="fas fa-search-minus"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="zuozhuan">
                                                <span class="fas fa-undo"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="youzhuan">
                                                <span class="fas fa-redo"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="youzhuan"
                                                    onclick="document.getElementById('myModal').style.display='none'">
                                                <span class="fa fa-power-off"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'img/js/myjs.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    {% comment %}<script>
        $(function () {
            if($('#state').val() === '总部'){
                console.log('总部')
            }else {
                $('#shopname').empty();
                $('#shopname').append('<option value="'+ $('#state').val() +'">'+ $('#state').val() +'</option>')
            }
        })
    </script>{% endcomment %}
    <script>
        function ok_sub() {
            var starttime = $('#starttime').val()
            var endtime = $('#endtime').val()
            var shopname = $('#shopname').val()
            var one_types = $('#one_types').val()
            var status = $('#status').val()
            var search_form = $('#search_form').val()

            location.href = '{% url 'expenditure_management:receiptshistory' %}?starttime=' + starttime + '&endtime=' + endtime + '&shopname=' + shopname + '&one_types=' + one_types + '&status=' + status + '&search_form=' + search_form
        }

    </script>
    <script>
        function jump_to() {
            var href = $('.jump').val()
            var num_pages = $('.hidden_val').val()
            if (href === "" || href == null) {
                alert('请输入正确的页码！')
                return false
            } else if (parseInt(href) > parseInt(num_pages)) {
                location.href = '{% url 'monitor:monitor_list' %}?fourreceiptspage=' + num_pages
            } else if (num_pages === '') {
                location.href = '{% url 'monitor:monitor_list' %}?fourreceiptspage=' + 1
            } else {
                location.href = '{% url 'monitor:monitor_list' %}?fourreceiptspage=' + href
            }
        }

        function lock_detail(id, num) {
            location.href = '{% url 'monitor:monitor_detail' %}?fourreceiptsid=' + id + '&fourreceiptspage=' + num
        }
    </script>
{% endblock %}

