{% extends 'parent_template/parent_template.html' %}

{% load static %}

{% block 财务管理-active %}
    active
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'img/css/updateimg.css' %}">
{% endblock %}
{% block collapse3 %}
    collapse
{% endblock %}
{% block collapse1 %}
    collapse
{% endblock %}
{% block collapse2 %}
    collapse
{% endblock %}
{% block collapse4 %}
    collapse
{% endblock %}
{% block collapse6 %}
    collapse
{% endblock %}
{% block collapse7 %}
    collapse
{% endblock %}
{% block collapse8 %}
    collapse
{% endblock %}
{% block collapse9 %}
    collapse
{% endblock %}
{% block collapse11 %}
    collapse
{% endblock %}
{% block collapse12 %}

{% endblock %}
{% block collapse12-2 %}

{% endblock %}
{% block collapse12-1 %}
    collapse
{% endblock %}
{% block collapse12-3 %}
    collapse
{% endblock %}

{% block 产品退货-active %}
    active
{% endblock %}

{% block body %}
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">财务管理</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">财务处理</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">退货管理
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <h5>
                <a href="{% url 'financial_management:back_goods' %}"><span
                        style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;">运营退货</span></a>
                <a href="{% url 'financial_management:waicaiback_goods' %}"><span
                        style="width: 100px;height: 30px;display: inline-block;text-align: center;line-height: 30px;background-color: rgb(51, 122, 183);color: white;border: 1px solid grey">外采退货</span></a>
            </h5>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card" style="height: 40px;width: 260px;">
                        <div class="form-group row" style="width: 377px;">
                            <label class="col-12 col-sm-3 col-form-label text-sm-right"
                                   style="line-height: 5px;">&emsp;开始日期</label>
                            <div class="col-12 col-sm-8 col-lg-6" style="margin-top: -10px">
                                <input type="date" class="form-control" name="starttime" id="starttime"
                                       value="{{ starttime }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="height: 40px;width: 250px;margin-left: -116px;">
                    <div class="form-group" style="width: 250px;">
                        <span style="margin-left: 12px;margin-top: 10px;display: inline-block;font-size: 15px;">截止日期</span>
                        <div style="margin-top: -30px;margin-left: 80px;width: 160px;">
                            <input type="date" class="form-control" name="endtime" id="endtime"
                                   value="{{ endtime }}">
                        </div>
                    </div>
                </div>
                <div style="margin-left: 10px;">
                    <button type="button" class="btn btn-success" style="width: 70px;height: 37px;"
                            onclick="searchinfo()">确认
                    </button>&emsp;
                    <button type="button" class="btn btn-warning" style="width: 70px;height: 37px;color: white"
                            onclick="export_xlsx('tableExcel', '未对选项卡')">导出
                    </button>
                </div>
            </div>

            <div class="ecommerce-widget" id="div01" style="display: block">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">审批目录</h5>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width: 10%">时间</th>
                                            <th scope="col" style="width: 10%">供货商</th>
                                            <th scope="col" style="width: 10%">门店</th>
                                            <th scope="col" style="width: 10%">总金额</th>
                                            <th scope="col" style="width: 10%">当前状态</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for foo in info %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'financial_management:waicaiback_goods' %}?threereceiptsid={{ foo.id }}">{{ foo.dates }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'financial_management:waicaiback_goods' %}?threereceiptsid={{ foo.id }}">{{ foo.consignee }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'financial_management:waicaiback_goods' %}?threereceiptsid={{ foo.id }}">{{ foo.shopname }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'financial_management:waicaiback_goods' %}?threereceiptsid={{ foo.id }}">{{ foo.allprice }}</a>
                                                </td>
                                                <td>
                                                    <a href="{% url 'financial_management:waicaiback_goods' %}?threereceiptsid={{ foo.id }}">{{ foo.status }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <nav aria-label="Page navigation">
                                    <div class="pagination">
                                        <ul class="pagination">
                                            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            <li>当前页数：{{ info.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                            {% if info.has_previous %}
                                                <li>
                                                    <a href="{% url 'financial_management:waicaiback_goods' %}?threereceiptspage={{ info.previous_page_number }}&starttime={{ starttime }}&endtime={{ endtime }}"
                                                       aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;&nbsp;&nbsp;</span></a>
                                                </li>
                                            {% endif %}

                                            {% for num in info.paginator.page_range %}
                                                {% if num == info.number|add:-1 or num == info.number|add:-2 or num == info.number|add:-3 or num == info.number or num == info.number|add:1 or num == info.number|add:2 or num == info.number|add:3 %}
                                                    {% if num == info.number %}
                                                        <li><a href="">{{ num }}&nbsp;&nbsp;</a></li>
                                                    {% else %}
                                                        <li>
                                                            <a href="{% url 'financial_management:waicaiback_goods' %}?threereceiptspage={{ num }}&starttime={{ starttime }}&endtime={{ endtime }}">{{ num }}&nbsp;&nbsp;</a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if info.has_next %}
                                                <li>
                                                    <a href="{% url 'financial_management:waicaiback_goods' %}?threereceiptspage={{ info.next_page_number }}&starttime={{ starttime }}&endtime={{ endtime }}"
                                                       aria-label="Next">
                                                        <span aria-hidden="true">&raquo;&nbsp;&nbsp;</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </nav>
                                <div aria-label="Page navigation" style="margin-left: 29px;margin-top: -13px;">
                                    <span>跳转至</span>
                                    <input type="text" style="width: 30px;" class="jump">
                                    <input type="hidden" value="{{ info.paginator.num_pages }}" class="hidden_val">
                                    <span>页</span>
                                    <input type="button" value="GO" onclick="jump_to()">
                                </div>
                            </div>
                        </div>
                        {% if receipts and not offshoreinfo %}
                            <div class="col-xl-8 col-lg-6 col-md-6" style="margin: 0 auto">
                                <div class="card">
                                    <div class="card-body">

                                        <input type="text" style="display: none" id="allpriceinfo" name="allpriceinfo"
                                               value="">

                                        <table style="width: 100%" border="1" cellspacing="1" cellpadding="2">
                                            <tr style="height: 40px">
                                                <td colspan="8">
                                                    <h3 style="text-align: center; line-height: 40px;">产品退货</h3>
                                                </td>
                                            </tr>
                                            <tr style="height: 40px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    门&nbsp;&nbsp;店
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" colspan="1">
                                                <span name="shopname" id="shopname"
                                                      class="form-control">{{ receipts.shopname }}</span>
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    收货人
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" colspan="1">
                                                <span name="consignee" id="consignee"
                                                      class="form-control">{{ receipts.consignee }}</span>
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    退货类型
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" colspan="1">
                                                <span name="back_goods_type" id="back_goods_type"
                                                      class="form-control">{{ receipts.order_type }}</span>
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    创建日期
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                <span class="form-control"
                                                      name="dates" id="dates">{{ receipts.dates }}</span>
                                                </td>
                                            </tr>
                                            <tr style="height: 40px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    经&nbsp;办&nbsp;人
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                <span class="form-control"
                                                      name="operator"
                                                      id="operator">{{ receipts.operator }}</span>
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    承运公司
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                <span class="form-control"
                                                      name="company"
                                                      id="company">{{ receipts.company }}</span>
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    承运人
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                <span name="people" id="people"
                                                      class="form-control">{{ receipts.people }}</span>
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    承运车牌号
                                                </td>
                                                <td class="text-sm-center">
                                                <span name="license_plate " id="license_plate"
                                                      class="form-control">{{ receipts.license_plate }}</span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    明细
                                                </td>
                                                <td class="text-sm-left" colspan="8">
                                                    <table style="width: 100%" border="1" cellspacing="1"
                                                           cellpadding="2" id="dealproject">
                                                        <thead>
                                                        <tr style="height: 40px">
                                                            <td class="text-sm-center" style="width: 30%">
                                                                订单号
                                                            </td>
                                                            <td class="text-sm-center" style="width: 10%">
                                                                产品名称
                                                            </td>
                                                            <td class="text-sm-center" style="width: 10%">
                                                                数量
                                                            </td>
                                                            <td class="text-sm-center" style="width: 10%">
                                                                金额
                                                            </td>
                                                            <td class="text-sm-center" style="width: 30%">
                                                                退货原因
                                                            </td>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for foo in receipts.dealproject %}
                                                            <tr>
                                                                <td>{{ foo.order_num }}</td>
                                                                <td>{{ foo.product_name }}</td>
                                                                <td>{{ foo.count }}</td>
                                                                <td>{{ foo.amount }}</td>
                                                                <td>{{ foo.amount }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-sm-center" style="width: 12.5%;height: 40px;"
                                                    colspan="4">
                                                    总&nbsp;金&nbsp;额
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%;height: 40px;"
                                                    id="allprice"
                                                    colspan="4">
                                                    ￥{{ receipts.allprice }}
                                                </td>
                                            </tr>

                                            <tr style="height: 120px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    凭&nbsp;证&nbsp;图&nbsp;片
                                                </td>
                                                <td colspan="7">
                                                    {% for photo in receipts.photos %}
                                                        <img src="{{ photo.img_url.url }}" alt="" style="height: 100px"
                                                             id="myImg{{ photo.id }}" height="100"
                                                             onclick="bigimg(this.id)">
                                                    {% endfor %}
                                                    <div id="result" name="result"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    提&nbsp;交&nbsp;备&nbsp;注
                                                </td>
                                                <td colspan="7">
                                                <span class="form-control"
                                                      name="submitremark" id="submitremark"
                                                      style="width: 100%; height: 80px">{{ receipts.submitremark }}</span>
                                                </td>
                                            </tr>
                                            {% for foo in receipts.approverinfo %}
                                                <tr style="height: 80px">
                                                    <td class="text-sm-center" style="width: 12.5%">
                                                        审&nbsp;批&nbsp;人
                                                    </td>
                                                    <td class="text-sm-center" style="width: 12.5%">
                                                        {{ foo.name }}
                                                    </td>
                                                    <td class="text-sm-center">审&nbsp;批&nbsp;结&nbsp;果</td>
                                                    <td>
                                                        {{ foo.status }}

                                                    </td>
                                                    <td class="text-sm-center">审&nbsp;批&nbsp;备&nbsp;注</td>
                                                    <td colspan="3">
                                                        {{ foo.limits }}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            <form action="{% url 'financial_management:waicaiback_goods' %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <tr style="height: 80px">
                                                    <td class="text-sm-center" style="width: 12.5%">
                                                        审&nbsp;核&nbsp;人
                                                    </td>


                                                    <td class="text-sm-center" style="width: 12.5%">
                                                        <input type="text" id="finance" name="finance"
                                                               class="form-control"
                                                               value="{{ userinfo.name }}" disabled>
                                                        <input type="text" id="finance" name="finance"
                                                               class="form-control"
                                                               value="{{ userinfo.name }}" style="display: none">
                                                        <input type="text" id="receiptsid" name="receiptsid"
                                                               value="{{ receipts.id }}" style="display: none">
                                                    </td>
                                                    <td class="text-sm-center">审&nbsp;核&nbsp;结&nbsp;果</td>
                                                    <td>
                                                        <select class="form-control" id="status"
                                                                required="" name="status" onclick="">
                                                            <option>请选择</option>
                                                            <option>通过</option>
                                                            <option>驳回</option>
                                                        </select>

                                                    </td>
                                                    <td class="text-sm-center">审&nbsp;核&nbsp;备&nbsp;注</td>
                                                    <td colspan="3">
                                                        <input type="text" id="remarks" name="remarks" value=""
                                                               class="form-control">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="8" style="text-align: center; height: 50px">
                                                        <button style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px"
                                                                type="button" onclick="submitsinfo()">
                                                            提交审核
                                                        </button>
                                                    </td>
                                                </tr>
                                            </form>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if receipts and offshoreinfo %}
                            <div class="col-xl-8 col-lg-6 col-md-6" style="margin: 0 auto">
                                <div class="card">
                                    <div class="card-body">

                                        <input type="text" style="display: none" id="allpriceinfo" name="allpriceinfo"
                                               value="">
                                        <table style="width: 100%" border="1" cellspacing="1" cellpadding="2">
                                            <tr style="height: 40px">
                                                <td colspan="8">
                                                    <h3 style="text-align: center; line-height: 40px;">外采产品退货</h3>
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    门&nbsp;&nbsp;店
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.shopname|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    当&nbsp;前&nbsp;状&nbsp;态
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    待退货
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" rowspan="2">
                                                    车&nbsp;辆&nbsp;信&nbsp;息&nbsp;图&nbsp;片
                                                </td>
                                                <td colspan="3" rowspan="2">
                                                    {% for photo in offshoreinfo.Carinfoimg %}
                                                        <img src="{{ photo.img_url.url }}" alt="" style="height: 100px"
                                                             id="myImgcarinfo{{ photo.id }}" height="100"
                                                             onclick="bigimg(this.id)">
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    供&nbsp;货&nbsp;商
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.gongaccount|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    车&nbsp;辆&nbsp;品&nbsp;牌
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.brand|default:"" }}
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    车&nbsp;&nbsp;型
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.motorcycle|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    车&nbsp;架&nbsp;号
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    {{ offshoreinfo.forid|default:"" }}
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" rowspan="2">
                                                    车&nbsp;架&nbsp;号&nbsp;照&nbsp;片
                                                </td>
                                                <td colspan="3" rowspan="2">
                                                    {% for photo in offshoreinfo.Vinimg %}
                                                        <img src="{{ photo.img_url.url }}" alt="" style="height: 100px"
                                                             id="myImgvininfo{{ photo.id }}" height="100"
                                                             onclick="bigimg(this.id)">
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr style="height: 60px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    需&nbsp;求&nbsp;描&nbsp;述
                                                </td>
                                                <td class="text-sm-center" style="width: 12.5%" colspan="3">
                                                    {{ offshoreinfo.model|default:"" }}
                                                </td>
                                            </tr>
                                            <tr style="height: 120px">
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    相&nbsp;关&nbsp;视&nbsp;频
                                                </td>
                                                <td colspan="7">
                                                    {% for foo in offshoreinfo.Kindsimg %}
                                                        <video width="320" height="180" controls>
                                                            <source src="{{ foo.img_url.url }}" type="video/mp4">
                                                        </video>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-sm-center" style="width: 12.5%">
                                                    货&nbsp;品&nbsp;明&nbsp;细
                                                </td>
                                                <td class="text-sm-left" colspan="7">
                                                    <table style="width: 100%" border="1" cellspacing="1"
                                                           cellpadding="2">
                                                        <tr style="height: 40px">
                                                            <td class="text-sm-center" style="width: 15%">
                                                                商&nbsp;品&nbsp;品&nbsp;牌
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                产&nbsp;品&nbsp;名&nbsp;称
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                型&nbsp;&nbsp;号
                                                            </td>
                                                            <td class="text-sm-center" style="width: 15%">
                                                                数&nbsp;&nbsp;量
                                                            </td>

                                                            <td class="text-sm-center" style="width: 15%">
                                                                状&nbsp;&nbsp;态
                                                            </td>

                                                        </tr>

                                                        {% for dealpro in offshoreinfo.offshoredealproject %}
                                                            <tr style="height: 40px">
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.brand }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.productname }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.model }}
                                                                </td>
                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.number }}
                                                                </td>

                                                                <td class="text-sm-center" style="width: 15%">
                                                                    {{ dealpro.status }}
                                                                </td>


                                                            </tr>
                                                        {% endfor %}

                                                    </table>
                                                </td>
                                            </tr>
                                            {% for foo in receipts.approverinfo %}
                                                <tr style="height: 80px">
                                                    <td class="text-sm-center" style="width: 12.5%">
                                                        审&nbsp;批&nbsp;人
                                                    </td>
                                                    <td class="text-sm-center" style="width: 12.5%">
                                                        {{ foo.name }}
                                                    </td>
                                                    <td class="text-sm-center">审&nbsp;批&nbsp;结&nbsp;果</td>
                                                    <td>
                                                        {{ foo.status }}

                                                    </td>
                                                    <td class="text-sm-center">审&nbsp;批&nbsp;备&nbsp;注</td>
                                                    <td colspan="3">
                                                        {{ foo.limits }}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            <form action="{% url 'financial_management:waicaiback_goods' %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <tr style="height: 80px">
                                                    <td class="text-sm-center" style="width: 12.5%">
                                                        审&nbsp;核&nbsp;人
                                                    </td>


                                                    <td class="text-sm-center" style="width: 12.5%">
                                                        <input type="text" id="finance" name="finance"
                                                               class="form-control"
                                                               value="{{ userinfo.name }}" disabled>
                                                        <input type="text" id="finance" name="finance"
                                                               class="form-control"
                                                               value="{{ userinfo.name }}" style="display: none">
                                                        <input type="text" id="receiptsid" name="receiptsid"
                                                               value="{{ receipts.id }}" style="display: none">
                                                    </td>
                                                    <td class="text-sm-center">审&nbsp;核&nbsp;结&nbsp;果</td>
                                                    <td>
                                                        <select class="form-control" id="status"
                                                                required="" name="status" onclick="">
                                                            <option>请选择</option>
                                                            <option>门店原因退货</option>
                                                            <option>供货商原因退货</option>
                                                        </select>

                                                    </td>
                                                    <td class="text-sm-center">审&nbsp;核&nbsp;备&nbsp;注</td>
                                                    <td colspan="3">
                                                        <input type="text" id="remarks" name="remarks" value=""
                                                               class="form-control">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="8" style="text-align: center; height: 50px">
                                                        <button style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px"
                                                                type="button" onclick="submitsinfo()">
                                                            提交审核
                                                        </button>
                                                    </td>
                                                </tr>
                                            </form>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- 弹窗 -->
                        <div id="myModal" class="modal" style="width: 100%; height: 100%">
                            <!-- 弹窗内容 -->
                            <div style="position: relative;width: 95%;height: 95%;border: 1px solid #000;">
                                <img class="modal-content" id="img01"
                                     style="position: absolute;width: 500px;left: 0;right: 0;top: 0;bottom: 0;margin: auto;">
                                <div>
                                    <div style="margin: 0 auto; width: 205px;">
                                        <div style="position: fixed;bottom: 40px;">
                                            <button type="button" class="btn btn-outline-light"
                                                    id="fangda">
                                                <span class="fa fa-search-plus"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="suoxiao">
                                                <span class="fas fa-search-minus"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="zuozhuan">
                                                <span class="fas fa-undo"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="youzhuan">
                                                <span class="fas fa-redo"></span>
                                            </button>
                                            <button type="button" class="btn btn-outline-light"
                                                    id="youzhuan"
                                                    onclick="document.getElementById('myModal').style.display='none'">
                                                <span class="fa fa-power-off"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function searchinfo() {
            var starttime = $('#starttime').val();
            var endtime = $('#endtime').val();
            if (starttime > endtime){
                alert('开始时间应早于截止时间');
                return false;
            }
            location.href = '{% url 'financial_management:waicaiback_goods' %}?starttime=' + starttime + '&endtime=' + endtime
        }
    </script>
    <script>
        function submitsinfo() {

            var status = $('#status').val();
            if (status === '请选择') {
                alert('提交结果需要先选择状态');
                return false;
            }
            if (status === '驳回') {
                var remarks = $('#remarks').val();
                if (remarks === '') {
                    alert('驳回需要先填写审批备注');
                    return false;
                }
            }

            $('form').submit()
        }
    </script>
    <script>
        function jump_to() {
            var href = $('.jump').val();
            var num_pages = $('.hidden_val').val();
            if (href === "" || href == null) {
                alert('请输入正确的页码！');
                return false
            } else if (parseInt(href) > parseInt(num_pages)) {
                location.href = '{% url 'financial_management:waicaiback_goods' %}?threereceiptspage=' + num_pages + '&starttime=' + starttime + '&endtime=' + endtime
            } else if (num_pages === '') {
                location.href = '{% url 'financial_management:waicaiback_goods' %}?threereceiptspage=' + 1 + '&starttime=' + starttime + '&endtime=' + endtime
            } else {
                location.href = '{% url 'financial_management:waicaiback_goods' %}?threereceiptspage=' + href + '&starttime=' + starttime + '&endtime=' + endtime
            }
        }
    </script>
    <script src="{% static 'img/js/myjs.js' %}"></script>

{% endblock %}

