{% extends 'parent_template/parent_template.html' %}
{% load static %}

{% block 单据管理-active %}
    active
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'img/css/updateimg.css' %}">
{% endblock %}
{% block 途虎退货-active %}
    active
{% endblock %}

{% block collapse3 %}
    collapse
{% endblock %}
{% block collapse1 %}
    collapse
{% endblock %}
{% block collapse2 %}
    collapse
{% endblock %}
{% block collapse4 %}
    collapse
{% endblock %}
{% block collapse6 %}
    collapse
{% endblock %}
{% block collapse7 %}
    collapse
{% endblock %}
{% block collapse8 %}
    collapse
{% endblock %}
{% block collapse9 %}

{% endblock %}
{% block collapse11 %}
    collapse
{% endblock %}
{% block collapse12 %}
    collapse
{% endblock %}



{% block body %}
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">单据管理</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">创建单据</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">运营退货
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ecommerce-widget" id="div01" style="display: block">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-xl-8 col-lg-6 col-md-6" style="margin: 0 auto">
                            <div class="card">
                                <div class="card-body">

                                    <input type="text" style="display: none" id="allpriceinfo" name="allpriceinfo"
                                           value="">

                                    <table style="width: 100%" border="1" cellspacing="1" cellpadding="2">
                                        <tr style="height: 40px">
                                            <td colspan="8">
                                                <h3 style="text-align: center; line-height: 40px;">运营退货</h3>
                                            </td>
                                        </tr>
                                        <tr style="height: 40px">
                                            <td class="text-sm-center" style="width: 12.5%">
                                                门&nbsp;&nbsp;店
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%" colspan="1">
                                                <select class="form-control" id="shopname" name="shopname">
                                                    {% for shopname in ShopNames %}
                                                        {% if nowshopname == shopname.shopname %}
                                                            <option selected="selected">{{ shopname.shopname }}</option>
                                                        {% else %}
                                                            <option>{{ shopname.shopname }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                收货人
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%" colspan="1">
                                                <input type="text" name="consignee" id="consignee" class="form-control">

                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                退货类型
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%" colspan="1">
                                                <select name="order_type" id="order_type" class="form-control">
                                                    <option>请选择</option>
                                                    <option value="途虎退货">途虎退货</option>
                                                    <option value="运营退货">运营退货</option>
                                                </select>
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                创建日期
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                <input type="date" value="{{ today }}" disabled class="form-control"
                                                       name="dates" id="dates">
                                            </td>
                                        </tr>
                                        <tr style="height: 40px">
                                            <td class="text-sm-center" style="width: 12.5%">
                                                经&nbsp;办&nbsp;人
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                <input required type="text" class="form-control"
                                                       name="operator"
                                                       id="operator">
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                承运公司
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                <input required type="text" class="form-control"
                                                       name="company"
                                                       id="company">
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                承运人
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                <input type="text" name="people" id="people" class="form-control">
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                承运车牌号
                                            </td>
                                            <td class="text-sm-center">
                                                <input type="text" name="license_plate " id="license_plate"
                                                       class="form-control">
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                添加明细 <br>
                                                <button style="width:100px;height:30px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px"
                                                        type="button" onclick="add_input('dealproject')">
                                                    添加
                                                </button>
                                            </td>
                                            <td class="text-sm-left" colspan="8">
                                                <table style="width: 100%" border="1" cellspacing="1"
                                                       cellpadding="2" id="dealproject">
                                                    <tr style="height: 40px">
                                                        <td class="text-sm-center" style="width: 30%">
                                                            订单号
                                                        </td>
                                                        <td class="text-sm-center" style="width: 10%">
                                                            产品名称
                                                        </td>
                                                        <td class="text-sm-center" style="width: 10%">
                                                            数量
                                                        </td>
                                                        <td class="text-sm-center" style="width: 10%">
                                                            金额
                                                        </td>
                                                        <td class="text-sm-center" style="width: 30%">
                                                            退货原因
                                                        </td>
                                                        <td class="text-sm-center" style="width: 10%">
                                                            操作
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="text-sm-center" style="width: 12.5%;height: 40px;" colspan="4">
                                                总&nbsp;金&nbsp;额
                                            </td>
                                            <td class="text-sm-center" style="width: 12.5%;height: 40px;" id="allprice"
                                                colspan="4">
                                                ￥0.00
                                            </td>
                                        </tr>

                                        <tr style="height: 120px">
                                            <td class="text-sm-center" style="width: 12.5%">
                                                凭&nbsp;证&nbsp;图&nbsp;片<br>
                                                <button style="width:100px;height:30px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px;"
                                                        type="button" onclick="onclickonload()">
                                                    上传文件<input type="file"
                                                               style="width:0;height:0; display: none"
                                                               multiple="multiple" onchange="readAsDataURL()"
                                                               id="receiptsimg" name="receiptsimg">
                                                </button>
                                                <button style="width:100px;height:30px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px;"
                                                        type="button" onclick="cleatimg()">
                                                    清空图片
                                                </button>
                                            </td>
                                            <td colspan="7">
                                                <div id="result" name="result"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-sm-center" style="width: 12.5%">
                                                提&nbsp;交&nbsp;备&nbsp;注
                                            </td>
                                            <td colspan="7">
                                                <input type="text" class="form-control"
                                                       name="submitremark" id="submitremark"
                                                       style="width: 100%; height: 80px">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" style="text-align: center; height: 50px">
                                                <button style="width:140px;height:36px;line-height:18px;font-size:18px; color:#2ea8e5;padding-bottom:4px" id="Submit"
                                                        type="button" onclick="submitsinfo()">
                                                    创建单据
                                                </button>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- 弹窗 -->
                                    <div id="myModal" class="modal">
                                        <!-- 弹窗内容 -->
                                        <img id="img01" style="height: 600px; display: block; margin: auto;">
                                        <div>
                                            <div style="margin: 0 auto; width: 205px;">
                                                <div style="position: fixed;bottom: 40px;">
                                                    <button type="button" class="btn btn-outline-light"
                                                            id="fangda">
                                                        <span class="fa fa-search-plus"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-light"
                                                            id="suoxiao">
                                                        <span class="fas fa-search-minus"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-light"
                                                            id="zuozhuan">
                                                        <span class="fas fa-undo"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-light"
                                                            id="youzhuan">
                                                        <span class="fas fa-redo"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-outline-light"
                                                            id="close"
                                                            onclick="document.getElementById('myModal').style.display='none'">
                                                        <span class="fa fa-power-off"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function onclickonload() {
            document.getElementById('receiptsimg').click()
        }

        function cleatimg() {
            var result = document.getElementById("result");
            result.innerHTML = '';
            var imgresult = document.getElementById('receiptsimg');
            imgresult.value = null;
        }
    </script>

    <script>
        function submitsinfo() {
            document.getElementById("Submit").setAttribute("disabled", "disabled");
            var datas = getTableContent('dealproject');
            var shopname = $('#shopname').val();
            var consignee = $('#consignee').val();
            var operator = $('#operator').val();
            var company = $('#company').val();
            var people = $('#people').val();
            var license_plate = $('#license_plate').val();
            var dates = $('#dates').val();
            var submitremark = $('#submitremark').val();
            var allprice = $('#allpriceinfo').val();
            var order_type = $('#order_type').val();
            var myImg = $('.myImg');
            var img_list = new Array();

            for (i = 0; i < myImg.length; i++) {
                img_list.push(myImg[i].src);
            }


            if (consignee === '') {
                alert('请添加收货人');
                document.getElementById("Submit").removeAttribute("disabled");

                return false;
            }
            if (order_type === '请选择') {
                alert('请选择退货类型');
                document.getElementById("Submit").removeAttribute("disabled");
                return false;
            }

            if (operator === '') {
                alert('请添加经办人');
                document.getElementById("Submit").removeAttribute("disabled");
                return false;
            }
            if (company === '') {
                alert('请添加承运公司');
                document.getElementById("Submit").removeAttribute("disabled");
                return false;
            }
            if (people === '') {
                alert('请添加承运人');
                document.getElementById("Submit").removeAttribute("disabled");
                return false;
            }
            if (license_plate === '') {
                alert('请添加承运车牌号');
                document.getElementById("Submit").removeAttribute("disabled");
                return false;
            }


            var order_num = $('#order_num');
            if (order_num[0]) {
                alert('请先完成明细添加');
                document.getElementById("Submit").removeAttribute("disabled");
                return false;
            }
            var receiptsimg = $('#receiptsimg').val();
            if (receiptsimg === '') {
                alert('请先添加图片');
                document.getElementById("Submit").removeAttribute("disabled");
                return false;
            }

            var tmp = '';
            for (i = 1, rows = datas.length; i < rows; i++) {
                tmp = tmp + datas[i][0] + '**-**' + datas[i][1] + '**-**' + datas[i][2] + '**-**' + datas[i][3] + '**-**' + datas[i][4] + '**--**';
            }
            if (tmp === '') {
                alert('请先添加明细');
                document.getElementById("Submit").removeAttribute("disabled");
                return false;
            }
            $.ajax({
                type: "post",
                url: "{% url 'expenditure_management:back_goods' %}",
                data: {
                    'datas': tmp,
                    'shopname': shopname,
                    'consignee': consignee,
                    'operator': operator,
                    'company': company,
                    'people': people,
                    'license_plate': license_plate,
                    'dates': dates,
                    'submitremark': submitremark,
                    'allprice': allprice,
                    'order_type': order_type,
                    'myImg': JSON.stringify(img_list),
                },
                success: function (data) {
                    alert('单据创建已完成');
                    location.href = '{% url 'expenditure_management:back_goods' %}'
                }
            })
        }
    </script>
    <script>
        function readAsDataURL() {
            var file = document.getElementById("receiptsimg").files;
            var result = document.getElementById("result");
            for (i = 0; i < file.length; i++) {
                var reader = new FileReader();
                reader.index = new Date().toString() + i;
                reader.readAsDataURL(file[i], i);
                reader.onload = function (event) {
                    result.innerHTML = result.innerHTML + '<img src="' + this.result + '" alt="" class="myImg" style="height: 100px; width: 100px" id="myImg' + this.index + '" onclick="bigimg(\'myImg' + this.index + '\')"/>';
                }
            }
        }
    </script>
    <script src="{% static 'img/js/myjs.js' %}"></script>
    <script type="text/javascript">

        /**
         * 遍历表格内容返回数组
         * @param  Int   id 表格id
         * @return Array
         */
        function getTableContent(id) {
            var mytable = document.getElementById(id);
            var data = [];
            for (var i = 0, rows = mytable.rows.length; i < rows; i++) {
                for (var j = 0, cells = mytable.rows[i].cells.length; j < cells; j++) {
                    if (!data[i]) {
                        data[i] = new Array();
                    }
                    data[i][j] = mytable.rows[i].cells[j].innerHTML;
                }
            }
            return data;
        }

        /**
         * 显示表格内容
         * @param  Int   id 表格id
         */
        function add_input(id) {
            var order_num = $('#order_num');
            if (order_num[0]) {
                alert('请先完成本次添加');
                return false;
            } else {
                var data = getTableContent(id);
                var tmp = '';
                tmp += '<tr style="height: 40px">';
                tmp += '<td class="text-sm-center" style="width: 30%">';
                tmp += data[0][0] + '</td>';
                tmp += '<td class="text-sm-center" style="width: 10%">';
                tmp += data[0][1] + '</td>';
                tmp += '<td class="text-sm-center" style="width: 10%">';
                tmp += data[0][2] + '</td>';
                tmp += '<td class="text-sm-center" style="width: 10%">';
                tmp += data[0][3] + '</td>';
                tmp += '<td class="text-sm-center" style="width: 30%">';
                tmp += data[0][4] + '</td>';
                tmp += '<td class="text-sm-center" style="width: 10%">';
                tmp += data[0][5] + '</td>';
                tmp += '</tr>';
                for (i = 1, rows = data.length; i < rows; i++) {

                    tmp += '<tr style="height: 40px">';
                    tmp += '<td class="text-sm-center" style="width: 30%">';
                    tmp += data[i][0] + '</td>';
                    tmp += '<td class="text-sm-center" style="width: 10%">';
                    tmp += data[i][1] + '</td>';
                    tmp += '<td class="text-sm-center" style="width: 10%">';
                    tmp += data[i][2] + '</td>';
                    tmp += '<td class="text-sm-center" style="width: 10%">';
                    tmp += data[i][3] + '</td>';
                    tmp += '<td class="text-sm-center" style="width: 30%">';
                    tmp += data[i][4] + '</td>';
                    tmp += '<td class="text-sm-center" style="width: 10%">';
                    tmp += '<button type="button" onclick="delTableContent(\'' + id + '\',' + i + ')">删除</button>' + '</td>';
                    tmp += '</tr>'
                }

                tmp = tmp +
                    '</select>                                                        </td>\n' +
                    '                                                        <td class="text-sm-centor">\n' +
                    '                                                            <input type="text" class="form-control"\n' +
                    '                                                                   name="order_num"\n' +
                    '                                                                   id="order_num" value="">\n' +
                    '                                                        </td>\n' +
                    '                                                        <td class="text-sm-centor">\n' +
                    '                                                            <input type="text" class="form-control"\n' +
                    '                                                                   name="product_name" id="product_name" value="">\n' +
                    '                                                        </td>\n' +
                    '                                                        <td class="text-sm-centor">\n' +
                    '                                                            <input type="text" class="form-control"\n' +
                    '                                                                   name="count" id="count" value="">\n' +
                    '                                                        </td>\n  ' + '                                                        <td class="text-sm-center">\n' +
                    '                                                            <input type="text" class="form-control"\n' +
                    '                                                                   name="amount" id="amount" value="">\n' +
                    '                                                        </td>\n  ' +
                    '                                                     <td class="text-sm-centor">\n' +
                    '                                                            <input type="text" class="form-control"\n' +
                    '                                                                   name="reason" id="reason" value="">\n' +
                    '                                                        </td>\n  ' +
                    '                                                      <td>\n' +
                    '                                                            <button type="button" onclick="okTableContent(\'dealproject\')">\n' +
                    '                                                                完成\n' +
                    '                                                            </button>\n' +
                    '                                                            <button type="button" onclick="delTableContent(\'' + id + '\',\'' + data.length + '\')">\n' +
                    '                                                                删除\n' +
                    '                                                            </button>\n' +
                    '                                                        </td>' +
                    '                                                    </tr>';

                document.getElementById(id).innerHTML = tmp;
            }

        }

        function okTableContent(id) {
            var data = getTableContent(id);
            var tmp = '';
            var order_num = $('#order_num').val();
            var product_name = $('#product_name').val();
            var num1 = $('#count').val();
            var reason = $('#reason').val();
            var amount = $('#amount').val();

            if (order_num === '') {
                alert('请输入订单号');
                return false;
            }
            if (product_name === "" || product_name == null) {
                alert('请输入产品名称');
                return false;
            }
            if (num1 === "" || num1 == null) {
                alert('请输入数量');
                return false;
            }
            if (amount === "" || amount == null) {
                alert('请输入金额');
                return false;
            }
            if (reason === "" || reason == null) {
                alert('请输入退货原因');
                return false;
            }
            if (isNaN(num1)) {
                alert('数量为数字');
                return false;
            }
            if (isNaN(amount)) {
                alert('金额为数字');
                return false;
            }

            tmp += '<tr style="height: 40px">';
            tmp += '<td class="text-sm-centor" style="width: 30%">';
            tmp += data[0][0] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 10%">';
            tmp += data[0][1] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 10%">';
            tmp += data[0][2] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 10%">';
            tmp += data[0][3] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 30%">';
            tmp += data[0][4] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 10%">';
            tmp += data[0][5] + '</td>';
            tmp += '</tr>';
            for (i = 1, rows = data.length; i < rows - 1; i++) {
                tmp += '<tr style="height: 40px">';
                tmp += '<td class="text-sm-centor" style="width: 30%">';
                tmp += data[i][0] + '</td>';
                tmp += '<td class="text-sm-centor" style="width: 10%">';
                tmp += data[i][1] + '</td>';
                tmp += '<td class="text-sm-centor" style="width: 10%">';
                tmp += data[i][2] + '</td>';
                tmp += '<td class="text-sm-centor" style="width: 10%">';
                tmp += data[i][3] + '</td>';
                tmp += '<td class="text-sm-centor" style="width: 30%">';
                tmp += data[i][4] + '</td>';
                tmp += '<td class="text-sm-centor" style="width: 10%">';
                tmp += '<button type="button" onclick="delTableContent(\'' + id + '\',' + i + ')">删除</button>' + '</td>';
                tmp += '</tr>'
            }
            var num = data.length - 1;
            tmp = tmp + '<tr style="height: 40px">' + '<td class="text-sm-centor" style="width: 30%">' + order_num + '</td>';
            tmp = tmp + '<td class="text-sm-centor" style="width: 10%">' + product_name + '</td>';
            tmp = tmp + '<td class="text-sm-centor" style="width: 10%">' + num1 + '</td>';
            tmp = tmp + '<td class="text-sm-centor" style="width: 10%">' + amount + '</td>';
            tmp = tmp + '<td class="text-sm-centor" style="width: 30%">' + reason + '</td>';
            tmp = tmp + '<td class="text-sm-centor" style="width: 10%">' + '<button type="button" onclick="delTableContent(\'' + id + '\',' + num + ')">删除</button>' + '</td>' + '</tr>';

            document.getElementById(id).innerHTML = tmp;

            var allprice = $('#allprice');
            var allpriceinfo = (parseFloat(allprice.text().replace('￥', '')) + parseFloat(amount)).toFixed(2);
            document.getElementById('allprice').innerHTML = '￥' + allpriceinfo.toString();
            var allprices = $('#allpriceinfo');
            allprices.attr('value', allpriceinfo)
        }

        function delTableContent(id, table_id) {
            var order_num = $('#order_num');
            var data = getTableContent(id);
            var tmp = '';
            tmp += '<tr style="height: 40px">';
            tmp += '<td class="text-sm-centor" style="width: 30%">';
            tmp += data[0][0] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 10%">';
            tmp += data[0][1] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 10%">';
            tmp += data[0][2] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 10%">';
            tmp += data[0][3] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 30%">';
            tmp += data[0][4] + '</td>';
            tmp += '<td class="text-sm-centor" style="width: 10%">';
            tmp += data[0][5] + '</td>';
            tmp += '</tr>';
            var allpriceinfo = '';
            if (order_num[0]) {
                for (i = 1, rows = data.length; i < rows - 1; i++) {
                    if (i === table_id) {
                        allpriceinfo = data[i][3];
                        continue
                    }
                    tmp += '<tr style="height: 40px">';
                    tmp += '<td class="text-sm-centor" style="width: 30%">';
                    tmp += data[i][0] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[i][1] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[i][2] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[i][3] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 30%">';
                    tmp += data[i][4] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += '<button type="button" onclick="delTableContent(\'' + id + '\',' + i + ')">删除</button>' + '</td>';
                    tmp += '</tr>'
                }

                if ((data.length - 1).toString() !== table_id.toString()) {
                    tmp += '<tr style="height: 40px">';
                    tmp += '<td class="text-sm-centor" style="width: 30%">';
                    tmp += data[data.length - 1][0] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[data.length - 1][1] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[data.length - 1][2] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[data.length - 1][3] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 30%">';
                    tmp += data[data.length - 1][4] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += '                                                            <button type="button" onclick="okTableContent(\'dealproject\')">\n' +
                        '                                                                完成\n' +
                        '                                                            </button>\n' +
                        '                                                            <button type="button" onclick="delTableContent(\'' + id + '\',\'' + (data.length - 2) + '\')">\n' +
                        '                                                                删除\n' +
                        '                                                            </button>\n';
                    tmp += '</tr>'
                }

            } else {

                for (i = 1, rows = data.length; i < rows; i++) {
                    if (i === table_id) {
                        allpriceinfo = data[i][3];
                        continue
                    }
                    tmp += '<tr style="height: 40px">';
                    tmp += '<td class="text-sm-centor" style="width: 30%">';
                    tmp += data[i][0] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[i][1] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[i][2] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += data[i][3] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 30%">';
                    tmp += data[i][4] + '</td>';
                    tmp += '<td class="text-sm-centor" style="width: 10%">';
                    tmp += '<button type="button" onclick="delTableContent(\'' + id + '\',' + i + ')">删除</button>' + '</td>';
                    tmp += '</tr>'
                }
            }

            document.getElementById(id).innerHTML = tmp;
            var allprice = $('#allprice');
            if (allpriceinfo) {
            } else {
                allpriceinfo = 0;
            }
            allpriceinfo = (parseFloat(allprice.text().replace('￥', '')) - parseFloat(allpriceinfo)).toFixed(2);
            document.getElementById('allprice').innerHTML = '￥' + allpriceinfo.toString();
            var allprices = $('#allpriceinfo');
            allprices.attr('value', allpriceinfo)
        }

    </script>

{% endblock %}

